h1 {
    font-family: 'Comic Sans MS'; 
   } 

p {
    font-family: 'Comic Sans MS', Times, serif;
    font-style: italic; 
    }
h2 { font-family: 'Comic Sans MS';
}
li {font-family: 'Comic Sans MS';}
.wrapper 
                { 
                  position: relative;
                  display: block;
                  min-width: 960px;
                  min-height: 700px;

               }
body { background: url(https://oir.mobi/uploads/posts/2021-03/1616578380_8-p-svetlii-fon-dlya-saita-8.jpg); }