h1 {
    font-family: 'Comic Sans MS'; 
   } 

p {
    font-family: 'Comic Sans MS', Times, serif;
    font-style: italic; 
    }
h2 { font-family: 'Comic Sans MS';
}
li {font-family: 'Comic Sans MS';}